h1{
    background-color: aqua;
}
h2{background-color: blue;}

p{background-color: blueviolet; font-family: 'Rubik Moonrocks', cursive;}

.parrafoNaranja{background-color: orange;}
.verde{background-color: green;}
p.verde{background-color: burlywood;
color: blueviolet;
}
