*{
    box-sizing: border-box;
    
}

body{
    font-family: 'Roboto';
    background-color: #e5e5e5;

}

main{
    width: 90%;
    max-width: 1000px;
    
    box-shadow: 10px 10px 10px 10px gray;
    margin: auto;
    padding: 40px;
    
}

.formulario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.formulario__label{
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

.formulario__grupo-input{
    position: relative;
}

.formulario__input{
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 5px solid transparent;
    border-radius: 6px;
    height: 33px;
    padding: 0 40px 0 10px;
    transition: .5s ease all;
}

.formulario__input:focus{
    border: 3px solid #0075f0;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.5);
}

.formulario__input-error{
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo{
    font-size: 12px;
    margin-bottom: 0;
    display: block;
}

.formulario__validacion-estado{
    position: absolute;
    right: 10px;
    bottom: 7px;
    z-index: 100;
    font-size: 20px;
    opacity: 0;
}

.formulario__checkbox{
   margin-right: 10px;
}

.formulario__grupo-terminos,
.formulario__mensaje,
.formulario__btn-enviar{
    grid-column: span 2;
}

.formulario__mensaje{
    height: 50px;
    background-color: red;
    padding: 0 25px;
    border-radius: 8px;
    text-align: center;
    display: none;
    
}

.formulario__mensaje p{
    color: white;
   
}

.formulario__grupo-btn-enviar{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.formulario__btn{
    height: 45px;
    line-height: 45px;
    width: 30%;
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: .1s ease all;

}

.formulario__btn:hover{
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}

.formulario__mensaje-exito{
    font-size: 14px;
    color: green;
    display: none;
}

.formulario__mensaje-exito-activo{
    display: block;

}

/* Estilos para la validación */

.formulario__grupo-correcto .formulario__validacion-estado{
    color: rgba(4, 202, 4, 1);
    opacity: 1;

}

.formulario__grupo-incorrecto .formulario__label{
    color: rgba(235, 20, 85, 0.678);
     
}

.formulario__grupo-incorrecto .formulario__validacion-estado{
    color: rgba(235, 20, 85, 0.678);
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input{
    border: 3px solid rgba(235, 20, 85, 0.678);
}

/* Media cueris*/

@media screen and (max-width:800px){
.formulario{
    grid-template-columns: 1fr;
}
.formulario__btn{
    width: 100%;
}

}

