*{
    padding: 0;
    margin: 0;
}
body{
    background: url(../images/estrellas3.jpg) no-repeat right top;
    
}

.back_1{
    height: 100px;
    width: 100%;
    background-color: aqua;
    opacity: 0.2;

}
.back_2{
    height: 100px;
    width: 100%;
    background-color: rgba(108, 234, 234, 0.832);
}

p{
    font-size: 30px;

}

.color1{
    padding: 20px 30px;
    margin: 50px 50px;  
background-color: rgb(241, 229, 0) ;


}
.color2{
    margin: 50px 50px; 
background-color: rgb(255, 157, 0);

}
.color3{
background-color: rgb(195, 255, 0);
margin: 30px;
}