.contenedor{
    display: grid;
    grid-template-columns: repeat(4, auto) ;
    grid-template-rows: repeat(4, auto) ;
    
    grid-gap: 5px;                      
}

.contenedor .item{
    /* grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5; 

    grid-column: 3/span 5;
    grid-row: 2/span 4;     */ 

    /*grid-area: 2/2/4/4; */        /*  empieza en la fila/empieza en la columna/termina en la fila/ termina en la columna */

    grid-column: 1/span 3;
    grid-row: 1/span 3;
    
    background-color: orange;
}
